<footer class="container-fluid">
    <div class="col-6 col-sm-4">
        <h6>Contact</h6>
        <p>
            Bulgaria, Yambol <br />
            <a type="phone"> 123456</a> adamin@sample.com
        </p>
    </div>
    <div class="col-6 col-sm-4">
        <h6>Contact</h6>

        <a href="#">
          Blog
      </a>
        <a href="#">
          Term of use
      </a>
        <a href="#">
          Documentation
      </a>
    </div>
    <div class="col-6 col-sm-4">
        <h6>Social media</h6>
        <div class="btn-group-vertical">
            <a href="https://www.facebook.com">
              Facebook
          </a>
            <a href="https://www.Twitter.com">
              Twitter
          </a>
            <a href="https://www.LinkedIn.com">
              LinkedIn
          </a>
        </div>
    </div>
</footer>